<div class="header">
    <h1 class="welcome">Welcome!</h1>
    <button type="button" class="btn btn-icon btn-inverse cogBtn" (click)="changePassword()">
        <clr-icon shape="cog"></clr-icon>
    </button>
    <button type="button" class="btn btn-icon btn-inverse logoutBtn" (click)="logout()">
        <clr-icon shape="logout"></clr-icon>
    </button>
</div>

<clr-modal [(clrModalOpen)]="modal">
    <h3 class="modal-title">Change Password</h3>
    <div class="modal-body">
        <div class="container">
        <div class="userInfo">
            <span class="companyLabel">New Password</span>
            <input type="password" class="userInput" name="password" placeholder="password"
                [(ngModel)]="password" required />
        </div>
        <div class="userInfo">
            <span class="companyLabel">Confirm</span>
            <input type="password" class="userInput" name="cPassword" placeholder="password"
            [(ngModel)]="cPassword" required />
        </div>
        <div *ngIf="showPasswordErrorMessage" class="error active">
            Passwords don't match!
        </div>
        <div *ngIf="showPasswordPatternErrorMessage" class="error active">
            Passwords must have minimum 7 characters, at least one capital letter, one
            number and one special character, and must begin with a letter!
        </div>
    </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="change()">Change</button>
        <button type="button" class="btn btn-danger" (click)="cancel()">Cansel</button>
    </div>
</clr-modal>

<clr-modal [(clrModalOpen)]="notification">
    <h3 class="modal-title">Change Password</h3>
    <div class="modal-body">
       <p>You successfully changed password!</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="notification=false">Ok</button>
    </div>
</clr-modal>