<div class="container">
    <clr-accordion style="margin: 0;">
        <clr-accordion-panel>
            <clr-accordion-title>Register As A Farmer</clr-accordion-title>
            <clr-accordion-content *clrIfExpanded>
                <div class="innerContainer">

                    <div class="row">
                        <form class="clr-form" [formGroup]="registrationForm">
                            <div class="userInfo">
                                <span class="userLabel">First Name</span>
                                <input type="text" class="userInput" name="fName" placeholder="first name"
                                    formControlName="fName" autofocus="autofocus" required />
                            </div>
                            <div class="userInfo">
                                <span class="userLabel">Last Name</span>
                                <input type="text" class="userInput" name="lName" placeholder="last name"
                                    formControlName="lName" autofocus="autofocus" required />
                            </div>
                            <div class="userInfo">
                                <span class="userLabel">Email Address</span>
                                <input type="email" class="userInput" name="email" placeholder="email address"
                                    formControlName="email" autofocus="autofocus" required />
                            </div>
                            <div class="userInfo">
                                <span class="userLabel">Phone</span>
                                <input type="text" class="userInput" name="phone" placeholder="phone"
                                    formControlName="phone" autofocus="autofocus" required />
                            </div>
                            <div class="userInfo">
                                <span class="userLabel">Birth date</span>
                                <input type="date" class="userInput" name="date" placeholder="birth date"
                                    formControlName="date" autofocus="autofocus" required />
                            </div>
                            <div class="userInfo">
                                <span class="userLabel">Birth Palce</span>
                                <input type="text" class="userInput" name="bPlace" placeholder="birth place"
                                    formControlName="bPlace" autofocus="autofocus" required />
                            </div>
                            <div class="userInfo">
                                <span class="userLabel">Username</span>
                                <input type="text" class="userInput" name="username" placeholder="username"
                                    formControlName="username" autofocus="autofocus" required />
                            </div>
                            <div class="userInfo">
                                <span class="userLabel">Password</span>
                                <input type="password" class="userInput" name="password" placeholder="password"
                                    formControlName="password" required />
                            </div>
                            <div class="userInfo">
                                <span class="userLabel">Confirm</span>
                                <input type="password" class="userInput" name="cPassword" placeholder="password"
                                    formControlName="cPassword" required />
                            </div>
                            <div *ngIf="showPasswordErrorMessage" class="error active">
                                Passwords don't match!
                            </div>
                            <div *ngIf="showPasswordPatternErrorMessage" class="error active">
                                Passwords must have minimum 7 characters, at least one capital letter, one
                                number and one special character, and must begin with a letter!
                            </div>
                            <div>
                                <button type="submit" class="btn btn-block btn-md btn-primary button"
                                    (click)="registerFarmer()">
                                    Register
                                </button>
                            </div>
                            <div *ngIf="showServerErrorMessage" class="error active">
                                Server error, read in console
                            </div>
                        </form>
                    </div>
                </div>
            </clr-accordion-content>
        </clr-accordion-panel>

        <clr-accordion-panel>
            <clr-accordion-title>Register As A Company</clr-accordion-title>
            <clr-accordion-content *clrIfExpanded>
                <div class="innerContainer">

                    <div class="row">
                        <form class="clr-form" [formGroup]="registrationCompanyForm">
                            <div class="userInfo">
                                <span class="companyLabel">Company Name</span>
                                <input type="text" class="userInput" name="cName" placeholder="company name"
                                    formControlName="cName" autofocus="autofocus" required />
                            </div>
                            <div class="userInfo">
                                <span class="companyLabel">Email Address</span>
                                <input type="email" class="userInput" name="email" placeholder="email address"
                                    formControlName="email" autofocus="autofocus" required />
                            </div>
                            <div class="userInfo">
                                <span class="companyLabel" style="padding-top: 3px;">Establishment Date</span>
                                <input type="date" class="userInput" name="date" placeholder="establishment date"
                                    formControlName="date" autofocus="autofocus" required />
                            </div>
                            <div class="userInfo">
                                <span class="companyLabel">Enterprise Palce</span>
                                <input type="text" class="userInput" name="ePlace" placeholder="enterprise place"
                                    formControlName="ePlace" autofocus="autofocus" required />
                            </div>
                            <div class="userInfo">
                                <span class="companyLabel">Shortened Name</span>
                                <input type="text" class="userInput" name="username" placeholder="username"
                                    formControlName="username" autofocus="autofocus" required />
                            </div>
                            <div class="userInfo">
                                <span class="companyLabel">Password</span>
                                <input type="password" class="userInput" name="password" placeholder="password"
                                    formControlName="password" required />
                            </div>
                            <div class="userInfo">
                                <span class="companyLabel">Confirm</span>
                                <input type="password" class="userInput" name="cPassword" placeholder="password"
                                    formControlName="cPassword" required />
                            </div>
                            <div *ngIf="showPasswordErrorMessage" class="error active">
                                Passwords don't match!
                            </div>
                            <div *ngIf="showPasswordPatternErrorMessage" class="error active">
                                Passwords must have minimum 7 characters, at least one capital letter, one
                                number and one special character, and must begin with a letter!
                            </div>
                            <div>
                                <button type="submit" class="btn btn-block btn-md btn-primary button"
                                    (click)="registerCompany()">
                                    Register
                                </button>
                            </div>
                            <div *ngIf="showServerErrorMessage" class="error active">
                                Server error, read in console
                            </div>
                        </form>
                    </div>
                </div>
            </clr-accordion-content>
        </clr-accordion-panel>
    </clr-accordion>
    <button type="button" style="margin: 0;" class="btn btn-block btn-md btn-primary button" (click)="login()">
        Login
    </button>
</div>

<clr-modal [(clrModalOpen)]="modal">
    <h3 class="modal-title">Registration</h3>
    <div class="modal-body">
        <p>You successfully send registration request!</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="ok()">Ok</button>
    </div>
</clr-modal>