<div class="container">
    <div class="row">
        <form class="clr-form" [formGroup]="loginForm">
            <div class="userInfo">
                <span class="userLabel">Username</span>
                <input type="text" class="userInput" name="username" placeholder="username"
                    formControlName="username" autofocus="autofocus" required />
            </div>
            <div class="userInfo">
                <span class="userLabel">Password</span>
                <input type="password" class="userInput" name="loginForm.password" placeholder="password"
                    formControlName="password" required />
            </div>
            <div *ngIf="showErrorMessage" class="error active">
                Invalid username or password
            </div>
            <div>
                <button type="submit" class="btn btn-block btn-md btn-primary button" (click)="login()">
                    Login
                </button>
                <button type="submit" class="btn btn-block btn-md btn-primary button" (click)="register()">
                    Register
                </button>
            </div>
            <div *ngIf="showServerErrorMessage" class="error active">
                Server error, read in console
            </div>
        </form>
    </div>
</div>
