<app-header></app-header>


<div class="white"></div>
<clr-tabs style="position: absolute; width: 100%;">
    <clr-tab>
        <button clrTabLink id="link1">Nursery</button>
        <clr-tab-content class="requestContainer" id="content1" *clrIfActive="true">

            <button class="btn btn-inverse btn-icon backBtn" (click)="back()">
                <clr-icon shape="undo"></clr-icon>
            </button>
            <div class="container" *ngIf="fetching">
                <p class="spinner spinner-lg" style="margin-left: 300px;">
                    Loading...
                </p>
            </div>
            <div class="container" *ngIf="!fetching">
                <h4 class="title" [ngClass]="{'red': (nursery.water < 75) || (nursery.temp < 12)}">{{ nursery.name }}
                </h4>
                <div class="userInfo">
                    <span class="userLabel">Amount of water [L]</span>
                    <input type="number" min="0" step="1" class="userInput" [(ngModel)]="nursery.water" />
                </div>
                <div class="userInfo">
                    <span class="userLabel">Temperature [°C]</span>
                    <input type="number" step="1" class="userInput" [(ngModel)]="nursery.temp" />
                </div>
                <div class="userInfo">
                    <button type="submit" class="btn btn-block btn-md btn-primary button" (click)="saveChanges()">
                        Save changes
                    </button>
                </div>
                <div class="nursery">
                    <div class="block" *ngFor="let seedling of seedlings" [style.height.px]="heightPlace"
                        [style.width.px]="widthPlace">
                        <div *ngIf="seedling.status==='full'" (click)="menageSeed(seedling)"
                            class="place placeFull tooltip">
                            <clr-icon shape="tree" class="tree"></clr-icon>
                            <div class="tooltiptext">
                                <p class="seedInfo">Name: {{ seedling.name }}</p>
                                <p class="seedInfo">Producer: {{ seedling.producer }}</p>
                                <clr-progress-bar [clrValue]="(seedling.progress * 100) / seedling.fullTime"
                                    [clrMax]="100" clrSuccess clrLabeled>
                                </clr-progress-bar>
                            </div>
                        </div>
                        <div *ngIf="seedling.status==='empty'" (click)="insertSeed(seedling)" class="place placeEmpty">
                        </div>
                        <div *ngIf="seedling.status==='notReady'" class="place notReady">
                            <clr-icon shape="ban" class="tree"></clr-icon>
                        </div>
                    </div>
                </div>
            </div>
        </clr-tab-content>
    </clr-tab>
    <clr-tab>
        <button clrTabLink>Warehouse</button>
        <clr-tab-content *clrIfActive>
            <button class="btn btn-inverse btn-icon backBtn" (click)="back()">
                <clr-icon shape="undo"></clr-icon>
            </button>
            <div class="container" *ngIf="fetching">
                <p class="spinner spinner-lg" style="margin-left: 300px;">
                    Loading...
                </p>
            </div>
            <div class="container" *ngIf="!fetching">
                <h3 class="title">Warehouse</h3>
                <clr-accordion>
                    <clr-accordion-panel>
                        <clr-accordion-title>Filter</clr-accordion-title>
                        <clr-accordion-content *clrIfExpanded>
                            <div class="clr-form-control">
                                <label class="clr-control-label" style="margin-bottom: 15px;">Choose your filter</label>
                                <div class="clr-control-container" style="display: block; width: 100%;">
                                    <div class="clr-radio-wrapper radioWrapper">
                                        <input type="radio" id="vertical-radio1" [(ngModel)]="filter" name="radio-full"
                                            value="name" class="clr-radio">
                                        <label for="vertical-radio1" class="clr-control-label">Filter by Name</label>
                                    </div>
                                    <div class="clr-input-wrapper inputWrapper"
                                        [ngClass]="{'disabled': filter!=='name'}">
                                        <input style="width: 200px;" type="text" id="basic" [(ngModel)]="filterName"
                                            placeholder="Enter name here" class="clr-input">
                                    </div>
                                    <div class="clr-radio-wrapper radioWrapper">
                                        <input type="radio" id="vertical-radio2" [(ngModel)]="filter" name="radio-full"
                                            value="producer" class="clr-radio">
                                        <label for="vertical-radio2" class="clr-control-label">Filter by
                                            Producer</label>
                                    </div>
                                    <div class="clr-input-wrapper inputWrapper"
                                        [ngClass]="{'disabled': filter!=='producer'}">
                                        <input style="width: 200px;" type="text" id="basic" [(ngModel)]="filterProducer"
                                            placeholder="Enter Producer name here" class="clr-input">
                                    </div>
                                    <div class="clr-radio-wrapper radioWrapper">
                                        <input type="radio" id="vertical-radio3" [(ngModel)]="filter" name="radio-full"
                                            value="quantity" class="clr-radio">
                                        <label for="vertical-radio3" class="clr-control-label">Filter by
                                            Quantity</label>
                                    </div>
                                    <div class="clr-input-wrapper inputWrapper"
                                        [ngClass]="{'disabled': filter!=='quantity'}">
                                        <input style="width: 200px;" type="number" step="1" id="basic"
                                            [(ngModel)]="filterNumber" placeholder="Enter quantity value here"
                                            class="clr-input">
                                    </div>
                                    <button type="submit" class="btn btn-icon buttonFilter" aria-label="home">
                                        <clr-icon shape="filter"></clr-icon>
                                    </button>
                                </div>
                            </div>
                        </clr-accordion-content>
                    </clr-accordion-panel>

                    <clr-accordion-panel>
                        <clr-accordion-title>Sort</clr-accordion-title>
                        <clr-accordion-content *clrIfExpanded>

                            <div class="clr-form-control">
                                <label class="clr-control-label" style="margin-bottom: 15px;">Choose your sort</label>
                                <div class="clr-control-container" style="display: block; width: 100%;">
                                    <div class="clr-radio-wrapper">
                                        <input type="radio" id="vertical-radio1" [(ngModel)]="sort" name="radio-full"
                                            value="na" class="clr-radio">
                                        <label for="vertical-radio1" class="clr-control-label">Sort by Name ASC</label>
                                    </div>
                                    <div class="clr-radio-wrapper">
                                        <input type="radio" id="vertical-radio2" [(ngModel)]="sort" name="radio-full"
                                            value="pa" class="clr-radio">
                                        <label for="vertical-radio2" class="clr-control-label">Sort by Producer
                                            ASC</label>
                                    </div>
                                    <div class="clr-radio-wrapper">
                                        <input type="radio" id="vertical-radio3" [(ngModel)]="sort" name="radio-full"
                                            value="qa" class="clr-radio">
                                        <label for="vertical-radio3" class="clr-control-label">Sort by Quantity
                                            ASC</label>
                                    </div>
                                    <div class="clr-radio-wrapper">
                                        <input type="radio" id="vertical-radio4" [(ngModel)]="sort" name="radio-full"
                                            value="nd" class="clr-radio">
                                        <label for="vertical-radio4" class="clr-control-label">Sort by Name DESC</label>
                                    </div>
                                    <div class="clr-radio-wrapper">
                                        <input type="radio" id="vertical-radio5" [(ngModel)]="sort" name="radio-full"
                                            value="pd" class="clr-radio">
                                        <label for="vertical-radio5" class="clr-control-label">Sort by Producer
                                            DESC</label>
                                    </div>
                                    <div class="clr-radio-wrapper">
                                        <input type="radio" id="vertical-radio6" [(ngModel)]="sort" name="radio-full"
                                            value="qd" class="clr-radio">
                                        <label for="vertical-radio6" class="clr-control-label">Sort by Quantity
                                            DESC</label>
                                    </div>
                                </div>
                            </div>

                        </clr-accordion-content>
                    </clr-accordion-panel>
                </clr-accordion>
                <h3 class="title">Seedlings</h3>
                <h4 class="title" *ngIf="avilabileSeedsFiltered.length === 0">No seedlings!</h4>
                <div class="requestList" *ngFor="let seed of avilabileSeedsFiltered">
                    <div class="userInfo">
                        <span class="userLabel">Seedling name</span>
                        <span class="userInput"> {{ seed.name }} </span>
                    </div>
                    <div class="userInfo">
                        <span class="userLabel">Seedling producer </span>
                        <span class="userInput"> {{ seed.producer }} </span>
                    </div>
                    <div class="userInfo">
                        <span class="userLabel">Quantity</span>
                        <span class="userInput"> {{ seed.quantity }} </span>
                    </div>
                </div>
                <h3 class="title">Suplements</h3>
                <h4 class="title" *ngIf="avilabileSuplementsFiltered.length === 0">No suplements!</h4>
                <div class="requestList" *ngFor="let suplement of avilabileSuplementsFiltered">
                    <div class="userInfo">
                        <span class="userLabel">Suplement name</span>
                        <span class="userInput"> {{ suplement.name }} </span>
                    </div>
                    <div class="userInfo">
                        <span class="userLabel">Suplement producer </span>
                        <span class="userInput"> {{ suplement.producer }} </span>
                    </div>
                    <div class="userInfo">
                        <span class="userLabel">Quantity</span>
                        <span class="userInput"> {{ suplement.quantity }} </span>
                    </div>
                </div>
                <h3 class="title">Orders</h3>
                <h4 class="title" *ngIf="orderRequests.length === 0">No orders yet!</h4>
                <div class="orderList" *ngFor="let order of orderRequests">
                    <div class="userInfo">
                        <span class="userLabel">Order producer </span>
                        <span class="userInput"> {{ order.producer }} </span>
                    </div>
                    <clr-accordion>
                        <clr-accordion-panel>
                            <clr-accordion-title>Products</clr-accordion-title>
                            <clr-accordion-content *clrIfExpanded>
                                <div class="requestList productList" *ngFor="let product of order.products">
                                    <div class="userInfo">
                                        <span class="userLabel">Name</span>
                                        <span class="userInput"> {{ product.name }} </span>
                                    </div>
                                    <div class="userInfo">
                                        <span class="userLabel">Quantity</span>
                                        <span class="userInput"> {{ product.quantity }} </span>
                                    </div>
                                </div>
                            </clr-accordion-content>
                        </clr-accordion-panel>
                    </clr-accordion>
                    <div class="userInfo">
                        <button type="submit" class="btn btn-block btn-md btn-danger button"
                            (click)="cancelOrder(order)">
                            Cansel Order
                        </button>
                    </div>
                </div>
            </div>
        </clr-tab-content>
    </clr-tab>
    <clr-tab>
        <button clrTabLink>Online Store</button>
        <clr-tab-content *clrIfActive>
            <button class="btn btn-inverse btn-icon backBtn" (click)="back()">
                <clr-icon shape="undo"></clr-icon>
            </button>
            <button class="btn btn-inverse btn-icon backBtn" (click)="basketModal=true">
                <clr-icon shape="shopping-bag"></clr-icon>
            </button>
            <div class="container" *ngIf="fetching">
                <p class="spinner spinner-lg" style="margin-left: 300px;">
                    Loading...
                </p>
            </div>
            <div class="container" *ngIf="!fetching">
                <h3 class="title">Online Store</h3>
                <h4 class="title" *ngIf="companyProductsFiltered.length === 0">No seedlings!</h4>
                <div class="allProductsList" *ngFor="let product of companyProductsFiltered"
                    [ngClass]="{'seedling': product.type === 'seed', 'product': product.type === 'product'}">
                    <div class="userInfo">
                        <span class="userLabel">Product name</span>
                        <span class="userInput"> {{ product.name }} </span>
                    </div>
                    <div class="userInfo">
                        <span class="userLabel">Product producer </span>
                        <span class="userInput"> {{ product.producer }} </span>
                    </div>
                    <div class="userInfo">
                        <span class="userLabel">Quantity in stock </span>
                        <span class="userInput"> {{ product.quantity }} </span>
                    </div>
                    <div class="userInfo">
                        <span class="userLabel">Price per product price [$]</span>
                        <span class="userInput"> {{ product.price }} </span>
                    </div>
                    <div class="userInfo">
                        <div class="btn-group btn-primary groupBtn" style="width: 100%;">
                            <button class="btn btn-primary button" style="width: 50%;" (click)="info(product)">Info</button>
                            <button class="btn btn-success button" style="width: 50%;" (click)="enterQuantity(product)">Add to custumer basket</button>
                        </div>
                    </div>
                </div>
            </div>
        </clr-tab-content>
    </clr-tab>
</clr-tabs>
<app-footer></app-footer>

<clr-modal [(clrModalOpen)]="updateSeed">
    <h3 class="modal-title">{{ modalTitle }}</h3>
    <div class="modal-body">
        <clr-select-container>
            <label>Select a seedling from your warehous!</label>
            <select clrSelect name="options" [(ngModel)]="selectedSeed">
                <option *ngFor="let seed of avilabileSeeds" value="{{seed._id}}"> {{ seed.name }} :
                    {{ seed.producer}} </option>
            </select>
        </clr-select-container>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-success" (click)="add()">Add</button>
        <button type="button" class="btn btn-danger" (click)="cancel()">Cancel</button>
    </div>
</clr-modal>

<clr-modal [(clrModalOpen)]="transplantSeedModal">
    <h3 class="modal-title">{{ modalTitle }}</h3>
    <div class="modal-body"> {{ modalContent }} </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-success" (click)="yes()">Yes</button>
        <button type="button" class="btn btn-danger" (click)="cancel()">No</button>
    </div>
</clr-modal>

<clr-modal [(clrModalOpen)]="addSuplementModal">
    <h3 class="modal-title">{{ modalTitle }}</h3>
    <div class="modal-body">
        <clr-select-container>
            <label>Select a suplement from your warehous!</label>
            <select clrSelect name="options" [(ngModel)]="selectedSuplement">
                <option *ngFor="let suplement of avilabileSuplements" value="{{suplement._id}}"> {{ suplement.name }}
                    : {{ suplement.producer}} </option>
            </select>
        </clr-select-container>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-success" (click)="addSuplement()">Add</button>
        <button type="button" class="btn btn-danger" (click)="cancel()">Cancel</button>
    </div>
</clr-modal>

<clr-modal [(clrModalOpen)]="modal">
    <h3 class="modal-title">{{ modalTitle }}</h3>
    <div class="modal-body"> {{ modalContent }} </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="modal=false">Ok</button>
    </div>
</clr-modal>

<clr-modal [(clrModalOpen)]="orderingModal">
    <h3 class="modal-title">Add To Basket</h3>
    <div class="modal-body">
        <clr-input-container>
            <label>Enter the quantity of ordering product/seedling</label>
            <input clrInput type="number" min="1" [max]="orderingProduct?.quantity" name="name" [(ngModel)]="quantity" />
        </clr-input-container>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="addToBasket()">Add</button>
        <button type="button" class="btn btn-danger" (click)="cancel()">Cancel</button>
    </div>
</clr-modal>


<clr-modal [(clrModalOpen)]="basketModal">
    <h3 class="modal-title">Custumer Basket</h3>
    <div class="modal-body">
       
        <div class="basketContainer">
            <h3 class="title">Order List</h3>
            <h4 class="title" *ngIf="basket.length === 0">Nothing in the basket!</h4>
            <div class="allProductsList" *ngFor="let product of basket; let i = index" [attr.data-index]="i"
                [ngClass]="{'seedling': product.type === 'seed', 'product': product.type === 'product'}">
                <div class="userInfo">
                    <span class="userLabel">Product name</span>
                    <span class="userInput"> {{ product.name }} </span>
                </div>
                <div class="userInfo">
                    <span class="userLabel">Product producer </span>
                    <span class="userInput"> {{ product.producer }} </span>
                </div>
                <div class="userInfo">
                    <span class="userLabel">Quantity in stock </span>
                    <span class="userInput"> {{ product.quantity }} </span>
                </div>
                <div class="userInfo">
                    <span class="userLabel">Total price [$]</span>
                    <span class="userInput"> {{ product.price * product.quantity }} </span>
                </div>
                <div class="userInfo">
                    <button class="btn btn-danger button" style="margin-left: 52px;" (click)="deleteFromBasket(i)">Delete from basket</button>
                </div>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-success" (click)="order()">Order</button>
        <button type="button" class="btn btn-danger" (click)="cancelOrdering()">Cancel Order</button>
    </div>
</clr-modal>